<form id='calculate' action='/calculate' method='get'>
  <ul> 
    <li>
      <label>First Number</label>
      <input type='text' name='first' />
    </li>
    <li>
      <label>Operator</label>
      <input type='text' name='operator' />
    </li>
    <li>
      <label>Second Number</label>
      <input type='text' name='second' />
    </li>
  </ul>
  <button>Calculate!</button>
</form>