<!DOCTYPE>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Calculator</title>
  <link rel='stylesheet' href='/style.css'/>
</head>
<body>
<h1>Calculator</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about_us">About Us</a></li>
      <li><a href="/contact_us">Contact Us</a></li>
    </ul>
  </nav>
  <img src="http://www.clipartbest.com/cliparts/ace/KKy/aceKKyrri.jpeg">
  <%= yield %>
</body>
</html>